.btn {
    display: block;
    height: 50px;
    border-radius: 3px;
    background-color: #FB565A;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 112.5% */
    text-transform: uppercase;
    padding-top: 17px;
    transition: color 300ms, background-color 300ms;
    
    &:hover {    
        background-color: #E74246;
    }
    &:active {
        color: rgba(255, 255, 255, 0.3);
        background-color: #D7373B;
        box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.10) inset;
    }
}